@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .m-bars {
    display: none;
  }

  .nav-list {
    display: inline-flex;
  }

  .nav-list-link {
    padding: 20px 0;
  }

  /* .nav {
    padding-top: 26px;
    padding-bottom: 26px;
  } */

  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .adress-list-item-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
  }

  /* .logo {
    margin-right: 120px;
  } */

  .sol-div {
    width: auto;
  }

  .solution-list {
    /* width: 736px;
    height: 312px; */
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .solution-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .sol-text {
    color: var(--SLATE, #434455);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    /* max-width: 336px; */
  }

  .team-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 64px 24px;
    /* justify-content: center;
    align-items: center; */
  }

  .team-list-item {
    flex-basis: calc((100% - 64px) / 2);
    /* width: 264px; */
  }

  /* .employee {
    width: 264px;
  } */

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 72px) / 2);
  }

  .logo-p {
    /* padding-left: 48px; */
    margin: 0;
    margin-right: 24px;
  }

  .log-soc {
    display: flex;
    align-items: baseline;
  }

  .social-media-container {
    padding: 0;
    margin: 0;
  }

  .container-form {
    /* margin-left: 48px; */
    /* display: flex;
  flex-direction: column; */
    align-items: start;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .portfolio-img {
    width: 356px;
    height: 300px;
  }

  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg_tab1.jpg);
    min-width: 768px;
    padding: 112px 0;
  }

  .title-one {
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 36px;
    width: 500px;
  }

  .tab-flex {
    display: flex;
    /* width: 356px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .second-logo {
    padding-left: 0;
    display: inline-block;
  }

  .logo {
    margin-right: 120px;
  }

  .con-foot {
    min-width: 584px;
  }

  /* .logo-text {
    margin-bottom: 72px;
  } */

  .window {
    width: 408px;
  }

  .form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .m-bars {
    display: none;
  }

  .adress-list {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 40px;
  }

  /* .solution-icons-list {
    display: flex;
    gap: 24px;
  } */

  /* .solution-icons-list-item {
    
  } */

  .solution {
    padding-left: 15px;
  }

  .solution-list {
    /* display: inline-flex; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 24px;
    width: 1128px;
    height: 224px;
    flex-shrink: 0;
  }

  /* .solution-list-item {
    width: calc((100% - 72px) / 4);
  } */

  .solution-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .solution-icons {
    display: flex;
  }

  .sol-title {
    align-self: flex-start;
    font-size: 20px;
    text-align: start;
  }

  .sol-text {
    align-self: flex-start;

    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;
  }

  .sol-flex-list {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .team-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 24px;
    /* justify-content: center;
    align-items: center; */
  }

  .team-list-item {
    /* width: 264px; */
    flex-basis: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 48px 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .portfolio-img {
    width: 360px;
    height: 300px;
  }

  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office.jpg);
    min-width: 1158px;
    padding: 188px 0;
  }

  .adress-list-item-link {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }

  .title-one {
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }

  .solution {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  /* .logo-p,
  .social-media-container,
  .container-form {
    flex-basis: calc((100% - 20px) / 3);
  } */

  .logo-p {
    padding-left: 0;
    margin-right: 120px;
  }

  /* .second-logo {
    padding-left: ;
  } */

  .logo {
    margin-right: 76px;
  }

  .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-right: 72px; */
    /* padding-left: 40px; */
  }

  .adress-list-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-list-link {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .title-one {
    width: 500px;
  }

  .con-foot {
    /* display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 72px;
    align-content: center; */
  }

  .con-foot-sec {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .window {
    width: 408px;
  }

  .form-input {
    width: 264px;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/dark-bg_mob1.jpg);
  }
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/dark-bg_mob1.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg_tab1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg_tab1@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office1.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office1@2x.jpg);
  }
}
