h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  width: 100%;
  /* width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  background: #fff;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* padding-top: 101px; */
  /* padding-bottom: 17px; */
  margin-right: 76px;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 149px;
}

.second-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* padding-top: 101px; */
  /* padding-bottom: 17px; */
  /* margin-right: 76px; */
  margin-bottom: 16px;
}

.web-logo {
  color: #2e2f42;
}

.nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  /* margin-left: 76px; */
  display: none;
}

.nav-list-link {
  padding: 24px 0;
  font-weight: 500;
  color: var(--NAVY-BLUE, #2e2f42);
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-link {
  position: relative;
  color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.first-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

/* .nav-list-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
} */

.nav-list-link:hover {
  color: #404bbf;
}

.nav-list-link:focus {
  color: #404bbf;
}

/* .after-bar {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
} */

/* .nav-list-item:first-child::after {
  content: ;
} */

.adress {
  /* margin-left: 332px; */
  font-style: normal;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.adress-list {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.adress-list-item-link {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-item-link:hover {
  color: #404bbf;
}

.adress-list-item-link:focus {
  color: #404bbf;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
}

.title-one {
  color: var(--WHITE, #fff);
  /* width: 496px; */
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  /* padding-top: 188px;
  padding-right: 472px;
  padding-left: 472px; */
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

/* button {
  padding-left: 636px;
  padding-right: 636px;
  padding-bottom: 188px;
} */

.buy {
  display: block;
  margin: 0 auto;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy:hover {
  background: var(--OCEAN, #404bbf);
}

.buy:focus {
  background: var(--OCEAN, #404bbf);
}

.solution {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.solution-icons-list {
  display: flex;
  gap: 24px;
}

.solution-icons {
  position: relative;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sol-ic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 64;
}

.solution-list {
  /* padding-top: 120px; */
  /* padding-bottom: 120px; */
  /* align-items: flex-end; */

  /* display: flex; */
  /* gap: 24px; */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.sol-flex {
  display: flex;
  width: 288px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.solution-list-item {
  width: calc((100% - 72px) / 4);
}

.sol-title {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.sol-text {
  align-self: stretch;
  color: var(--SLATE, #434455);
}

h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  /* margin-bottom: 8px; */
}

.team {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.team-list {
  display: flex;
  /* align-items: flex-end; */
  /* gap: 24px;
  padding-bottom: 120px; */

  /* padding-bottom: 0px; */
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title-three {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  /* padding-top: 120px; */
  /* padding-right: 639px;
  padding-left: 639px; */
  margin-bottom: 72px;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employee {
  padding: 32px 0;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
}

h3 {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.name {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.profession {
  color: var(--SLATE, #434455);
}

.social-media-list {
  /* padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
  /* width: 40px;
  height: 40px; */
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

/* .social-media-link:focus {
  background-color: #404bbf;
} */

/* .social-media-box {
  position: relative;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: var(--IRIS, #4d5ae5);
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
} */

/* .social-media-box:hover {
  background-color: #404bbf;
} */

.social-media-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.portfolio {
  padding: 120px 0 120px 0;
}

.title-four {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  /* padding-top: 61px; */
  margin-bottom: 72px;
  /* padding-left: 611px;
  padding-right: 611px; */
}

.portfolio-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  row-gap: 48px;
  /* column-gap: 48px; */
  flex-wrap: wrap;
  /* padding-bottom: 120px; */
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

/* .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--IRIS, #4d5ae5);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
} */

/* .portfolio-box:hover .portfolio-overlay {
  transform: translatey(0);
} */

.box-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
  background-color: #4d5ae5;
  padding: 40px 32px;
  margin: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .box-text {
  transform: translatey(0);
}

.portfolio-list-item:first-child {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-title {
  margin-bottom: 8px;
}

.logo-text {
  color: var(--CLOUD, #f4f4fd);
  /* padding-top: 17px; */
  width: 264px;
  /* padding-bottom: 100px; */
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.con-foot {
  display: flex;
  align-items: baseline;
}

.logo-p {
  margin-right: 120px;
}

.studio-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-second-list {
  display: flex;
  gap: 16px;
}

.social-media-second-list-item {
  width: 40px;
  height: 40px;
}

.social-media-second-list-link {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-second-list-link:hover {
  background-color: #31d0aa;
}

.social-media-second-list-link:focus {
  background-color: #31d0aa;
}

.footer-social-media-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.container-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* .form-label {
 width: 453px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  max-width: 453px;
  margin-left: 80px;
  color: var(--WHITE, #fff);
} */

.form {
  display: flex;
  gap: 24px;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.container-form {
  margin-left: 80px;
}

.form-input::placeholder {
  color: var(--WHITE, #fff);
  padding: 8px 16px;
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  background: var(--OCEAN, #404bbf);
}

.form-btn:focus {
  background: var(--OCEAN, #404bbf);
}

.btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* <img
                src="./images/plane-icon.svg"
                alt="plane-icon"
                width="24"
              /> */

.container-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.wind-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wind-btn:hover {
  background-color: #404bbf;
  border: none;
}

.wind-btn:focus {
  background-color: #404bbf;
  border: none;
}

.wind-btn:hover svg {
  fill: #ffffff;
}

.wind-btn:focus svg {
  fill: #ffffff;
}

.con-wind-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.sec-form-div {
  margin-bottom: 8px;
}

.sec-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.l-div {
  position: relative;
}

.sec-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-form-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.n-form-div {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-form-div {
  margin-bottom: 24px;
}

.checkbox-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-form-label .check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-link {
  color: #4d5ae5;
}

.send-btn {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
  background: var(--OCEAN, #404bbf);
}

.send-btn:focus {
  background: var(--OCEAN, #404bbf);
}
